.layout {
    &__navbar {
        background-color: indigo;
    }

    &__content {
        background-color: #f5f7fa;
        margin-top: 4rem;

        .icon {
            font-size: 1.5rem;
        }

        .chat-input-box {
            align-items: center;
            justify-content: space-between;
            input {
                border-radius: 1rem;
                flex-direction: row;
                height: 2.75rem;
                margin-right: 1rem;
            }

            button {
                border-radius: 50%;
                width: fit-content;

                svg {
                    font-size: 1rem;
                }
            }
        }
    }
}